<app-navbar [title]="title"></app-navbar>

<app-sidebar
  [(velocity)]="velocity"
  [(rectangleHeight)]="rectangleHeight"
  [(rectangleWidth)]="rectangleWidth">
</app-sidebar>

<div class="main-container">
  <button class="btn btn-primary" (click)="createRectangle()">Create Rectangle</button>
  <button class="btn" [ngClass]="isKeyboardEnabled ? 'btn-success' : 'btn-danger'"
    (click)="toggleKeyboardListener()"> {{isKeyboardEnabled ? 'Keyboard Enabled' : 'Keyboard Disabled' }}</button>

  <div id="container" (click)="resetActiveId($event)" [style.width.px]="width" [style.height.px]="height"
    class="canvas-container">
    <ng-template #boxContainer> </ng-template>
  </div>
</div>